nav(id='footer' class='navbar navbar-collapse navbar-light')
    //.footer-container
    p(class='navbar-text pull-left') PdF @ 2017
    ul(class='nav navbar-nav navbar-right')
        li(class='nav-item active') 
            a(href='https://www.dmi.unict.it/archelab/projects/ae2017unictradicemaya/') ArchElab
        li(class='nav-item active') 
            a(href='https://www.gnu.org/licenses/gpl-3.0.en.html') Licenza
